In [63]:
import pandas as pd
df = pd.read_csv("Movies Dataset.csv")
df.head()

,Movie Name,Average Rate,Total Number Of Rate,Published Year,Duration,Movie Rating
0,1. The Shawshank Redemption,9.3 (2.9M),(2.9M),1994,2h 22m,R
1,2. The Godfather,9.2 (2M),(2M),1972,2h 55m,R
2,4. The Godfather Part II,9.0 (1.4M),(1.4M),1974,3h 22m,R
3,6. Schindler's List,9.0 (1.5M),(1.5M),1993,3h 15m,R
4,8. Pulp Fiction,8.9 (2.2M),(2.2M),1994,2h 34m,R

# data preprocessing

In [64]:
df.dtypes

Movie Name              object
Average Rate            object
Total Number Of Rate    object
Published Year           int64
Duration                object
Movie Rating            object
dtype: object

# change format of data

In [65]:
df['Average Rate'] = df['Average Rate'].str.extract(r'([\d.]+)')
df['Total Number Of Rate'] = df['Total Number Of Rate'].str.extract(r'([\d.]+)')
df['Movie Name'] = df['Movie Name'].apply(lambda x: x.split('. ',1)[1])

df['Hours'] = df['Duration'].str.extract(r'(\d+)h')
df['Minutes'] = df['Duration'].str.extract(r'(\d+)m')

df.head()

,Movie Name,Average Rate,Total Number Of Rate,Published Year,Duration,Movie Rating,Hours,Minutes
0,The Shawshank Redemption,9.3,2.9,1994,2h 22m,R,2,22
1,The Godfather,9.2,2,1972,2h 55m,R,2,55
2,The Godfather Part II,9.0,1.4,1974,3h 22m,R,3,22
3,Schindler's List,9.0,1.5,1993,3h 15m,R,3,15
4,Pulp Fiction,8.9,2.2,1994,2h 34m,R,2,34

# dealing with missing values

In [66]:
df['Hours'] = df['Hours'].fillna(0)
df['Minutes'] = df['Minutes'].fillna(0)
df.drop(['Duration'],axis = 1,inplace = True)

# data types

In [67]:
df['Average Rate'] = pd.to_numeric(df['Average Rate'] , errors = 'coerce')
df['Total Number Of Rate'] = pd.to_numeric(df['Total Number Of Rate'] , errors = 'coerce')
df["Hours"] = df["Hours"].astype(int)
df["Minutes"] = df["Minutes"].astype(int)

In [68]:
df.dtypes

Movie Name               object
Average Rate            float64
Total Number Of Rate    float64
Published Year            int64
Movie Rating             object
Hours                     int32
Minutes                   int32
dtype: object

In [69]:
df.isnull().sum()

Movie Name              0
Average Rate            0
Total Number Of Rate    0
Published Year          0
Movie Rating            3
Hours                   0
Minutes                 0
dtype: int64

In [74]:
x = df['Movie Rating'].mode()[0]
x

'R'

In [75]:
df['Movie Rating'] = df['Movie Rating'].fillna(x)

In [76]:
df.isnull().sum()

Movie Name              0
Average Rate            0
Total Number Of Rate    0
Published Year          0
Movie Rating            0
Hours                   0
Minutes                 0
dtype: int64

In [78]:
df.duplicated().any()

False

In [79]:
df.to_csv("Movies_2024.csv")

In [80]:
df.columns

Index(['Movie Name', 'Average Rate', 'Total Number Of Rate', 'Published Year',
       'Movie Rating', 'Hours', 'Minutes'],
      dtype='object')