In [1]:
# dictionary 
# loops  (for , while)
# functions
# scope 
# try:
# except:
# module 
# file handling

In [3]:
lst = [1,2,3,4]    # or lst = list(seq)
t   = (1,2,3,4)    # or t   = tuple(seq) 
s   = {1,2,3,4}    # or s   = set(seq)

In [5]:
lst2 = list(t)
lst2

[1, 2, 3, 4]

In [6]:
lst3 = list(s)
lst3

[1, 2, 3, 4]

In [7]:
tuple(lst)

(1, 2, 3, 4)

In [8]:
set(lst)

{1, 2, 3, 4}

## Dictionary

In [10]:
d = {"k1" : 1 , "k2" : 2 , "k3" : 3 , "k4" : 100}   # or d = dict(seq)
d

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 100}

In [17]:
lst = [1,2,3,4,5]
lst[-1] = 100
lst

[1, 2, 3, 4, 100]

In [13]:
d["k1"]

1

In [14]:
d["k4"]

100

In [15]:
len(d)

4

In [16]:
type(d)

dict

In [20]:
d["k1"] = 100
d

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 100}

In [24]:
d["k4"] = 300

In [25]:
d

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 300, 'k5': 200}

In [36]:
d1 = {0 : 100 , 1 : 200 , 2 : 300 }
d1

{0: 100, 1: 200, 2: 300}

In [37]:
d2 = {2: 1000 ,  3: 400 , 4: 500}
d2

{2: 1000, 3: 400, 4: 500}

In [38]:
d1.update(d2)

In [39]:
d1

{0: 100, 1: 200, 2: 1000, 3: 400, 4: 500}

In [40]:
d

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 300, 'k5': 200}

In [48]:
d = {"name": ["Ahmed" , "Abdo" ,["a" , "b" , "c"], "Mo" ] , "age":[20,30,35] }
d

{'name': ['Ahmed', 'Abdo', ['a', 'b', 'c'], 'Mo'], 'age': [20, 30, 35]}

In [93]:
d["name"][-1] = "Mohamed"
d

{'name': ['Ahmed', 'Abdo', ['a', 'b', 'c'], 'Mohamed'], 'age': [20, 30, 35]}

In [73]:
d["name"][-2][1]

'b'

In [95]:
d["name"][0] = d["name"][0].upper()
d

{'name': ['AHMED', 'Abdo', ['a', 'b', 'c'], 'Mohamed'], 'age': [20, 30, 35]}

In [64]:
d3 = {"k1" : 100 , "k2": 300 , "k1": 10}
d3

{'k1': 10, 'k2': 300}

In [59]:
d4 = {"k1": 5}
d4

{'k1': 5}

In [65]:
d4.update(d3)
d3

{'k1': 10, 'k2': 300}

In [85]:
d

{'name': ['Ahmed', 'Abdo', ['a', 'b', 'c'], 'Mo'], 'age': [20, 30, 35]}

In [86]:
d1

{0: 100, 1: 200, 2: 1000, 3: 400, 4: 500}

In [87]:
d1.keys()

dict_keys([0, 1, 2, 3, 4])

In [88]:
d1.values()

dict_values([100, 200, 1000, 400, 500])

In [101]:
d["name"]

['AHMED', 'Abdo', ['a', 'b', 'c'], 'Mohamed']

In [102]:
d.get("name")

['AHMED', 'Abdo', ['a', 'b', 'c'], 'Mohamed']

In [98]:
d2.items()

dict_items([(2, 1000), (3, 400), (4, 500)])

In [99]:
lst = [(2, 1000), (3, 400), (4, 500)]
lst

[(2, 1000), (3, 400), (4, 500)]

In [100]:
dict(lst)

{2: 1000, 3: 400, 4: 500}

In [ ]:
# for i in seq:
#     print(i)
#     .
#     .
#     .
#     ..
#     ..

In [107]:
lst = [1,2,3,4,5]

In [108]:
lst

[1, 2, 3, 4, 5]

In [114]:
for i in lst:   # i = 1 , i = 2 , i = 3 , i = 4 , i = 5
    print(i * 2)
print(lst)

2
4
6
8
10
[1, 2, 3, 4, 5]

In [115]:
for i in "AMIT": #i = A , i = M , i = I , i = T
    print(i)

A
M
I
T

In [123]:
lst = [1,2,3,4,5]
result = []
for i in lst :
    result.append( i * 2 )
    
print(result)

[2, 4, 6, 8, 10]

In [119]:
res = []
res.append(1 * 2 )
res.append(2 * 2 )
res.append(3 * 2 )
res.append(4 * 2 )
res.append(5 * 2 )

In [120]:
res

[2, 4, 6, 8, 10]

In [127]:
# for i in range(start = 0,end, step = 1): end not included   end-1
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [128]:
for i in range(1, 51): #i = 1 , i = 2 ........
    if i % 2 == 0 :
        print(f"{i} is Even")
    else:
        print(f"{i} is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even
21 is Odd
22 is Even
23 is Odd
24 is Even
25 is Odd
26 is Even
27 is Odd
28 is Even
29 is Odd
30 is Even
31 is Odd
32 is Even
33 is Odd
34 is Even
35 is Odd
36 is Even
37 is Odd
38 is Even
39 is Odd
40 is Even
41 is Odd
42 is Even
43 is Odd
44 is Even
45 is Odd
46 is Even
47 is Odd
48 is Even
49 is Odd
50 is Even

In [129]:
lst = [1,2,3,4,5] 
result = []
for i in lst :
    result.append(i * 2 )

In [130]:
result

[2, 4, 6, 8, 10]

In [132]:
res = [ i * 2 for i in lst ]

In [133]:
res

[2, 4, 6, 8, 10]

In [134]:
lst

[1, 2, 3, 4, 5]

In [135]:
s = 0
for i in lst :
    s = s + i    #i = 1 , s = 0 >> 0 + 1 = 1 >> s = 1 ::: i = 2 , s = 1 >> 1 + 2 = 3 >> s = 3 ::: 
                            # i = 3 , s = 3 >> 3 + 3 = 6 >> s = 6 :::i=4,s=6 >>6+4 = 10 s=10 ::: 
                            #   i=5>> 10 + 5 >> 15

In [136]:
print(s)

15

In [137]:
s = 0
for i in lst :
    s += i
print(s)

15

In [145]:
s = 0
for i in lst :
    print(f"s = {s} + {i} = {s + i } ")
    s = s+i

s = 0 + 1 = 1
s = 1 + 2 = 3
s = 3 + 3 = 6
s = 6 + 4 = 10
s = 10 + 5 = 15

## Functions

In [146]:
print("Amit")

Amit

In [147]:
x = 12
type(x)

int

In [155]:
len(lst)

5

In [149]:
lst

[1, 2, 3, 4, 5]

In [150]:
sum(lst)

15

In [151]:
max(lst)

5

In [152]:
min(lst)

1

In [156]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [157]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [174]:
def say_hello():
    print("Welcome")

In [177]:
say_hello()

Welcome

In [201]:
def add(num1 , num2):
    res = num1 + num2
    return res

In [205]:
x = add(12 , 13 )

In [203]:
x

25

In [181]:
lst = [1,2,3,4,5]
sum(lst)

15

In [184]:
def add_lst( l ):
    s = 0
    for i in l:
        s += i 
    return s

In [185]:
lst = [1,2,3,4,5]

add_lst(lst)

15

In [188]:
add_lst({2,3,4,5,6})

20

In [198]:
def add(*num):  #num = (10 ,10 ,10 ,10)
    s = 0
    for i in num:
        s += i 
    return s

In [200]:
print(add(10,10))
print(add(1,2,3,4))
print(add(3,4,5,6,7,8))

20
10
33

In [195]:
add(12,12)

24

In [196]:
add(2,3,4,5,6,7,8,7,6,5,4,3,32,1,1,3,45,6,7,8,7)

170

In [210]:
def check(num = 0): # num = 0 default
    if num % 2 == 0 :
        return f"{num} is Even"
    else:
        return f"{num} is Odd"

In [211]:
check(12)

'12 is Even'

In [212]:
check(13)

'13 is Odd'

In [213]:
check()

'0 is Even'

In [217]:
x = "Global"
def outer():
    x = "Local"
    print(x)
outer()
print(x)

Local
Global

In [238]:
x = "Global"
def outer():
    global x
    x = "Local"
    print(x)
outer()
print(x)

Local
Local

In [241]:
x = "Global"
def outer():
    x = "local"
    def inner():
        x = "inner"
        print(x)   # >> inner
    inner()  #>> inner 
    print(x) # >> local
outer() #>>inner   >> local
print(x)# Global

inner
local
Global

In [242]:
x = "Global"
def outer():
    x = "local"
    def inner():
        global x 
        x = "inner"
        print(x)   # >> inner
    inner()  #>> inner 
    print(x) # >> local
outer() #>>inner   >> local
print(x)# inner

inner
local
inner

In [243]:
x = "Global"
def outer():
    x = "local"
    def inner():
        nonlocal x 
        x = "inner"
        print(x)   # >> inner
    inner()  #>> inner 
    print(x) # >> inner
outer() #>>inner   >> inner
print(x)# global

inner
inner
Global

In [267]:
f = open("test.txt" )      # r>>  read

In [268]:
f.read()

'my name is Ahmed my age is 30'

In [270]:
# f.write("ohhhh")

In [258]:
f = open("test2.txt" , "x")          # w or a or x

In [271]:
f = open("test3.txt" , "w")     #w >> write

In [272]:
f.write("my name is ahmed and my age is 30")

33

In [273]:
f.close()

In [274]:
f = open("test3.txt" , "r+")  #r+ >> read and write

In [275]:
f.read()

'my name is ahmed and my age is 30'

In [276]:
f.write(" Ok!!")

5

In [277]:
f.close()

In [279]:
f = open("test3.txt" , "r" ,encoding='utf-8')
f.read()

'my name is ahmed and my age is 30 Ok!!    اسمي احمد '

In [282]:
lst = [1,2,3,4]
lst.remove(4)
lst

[1, 2, 3]

In [284]:
lst.remove(10)
print(lst)

ValueError: list.remove(x): x not in list

In [293]:
try:
    lst.remove(1)
    print(lst)
except Exception as e :
    print(f"Error: {e}")
    print(lst)

Error: list.remove(x): x not in list
[2, 3]

In [295]:
try:
    print(wx)
except Exception as e:
    print(e)
else:
    print("Good")
finally:
    print("Try and except Done ")

name 'wx' is not defined
Try and except Done

In [296]:
wx = 123
try:
    print(wx)
except Exception as e:
    print(e)
else:
    print("Good")
finally:
    print("Try and except Done ")

123
Good
Try and except Done

In [297]:
import random

In [299]:
# !pip install random

In [301]:
# dir(random)

In [302]:
random.random()   # 0 to 1

0.15439640226995244

In [303]:
random.random()

0.6973365864742271

In [306]:
random.randint(1 , 10)  # end >> included

9

In [310]:
random.randint(1 , 10)

6

In [323]:
random.randrange(1 , 10)  # end not included

5

In [324]:
import module

In [326]:
# dir(module)

In [327]:
module.add(1,2,3)

6

In [328]:
module.add(1,1)

2

In [329]:
module.check(5)

'5 is Odd'

In [330]:
module.check(6)

'6 is Even'

In [331]:
import module as md

In [332]:
md.add(12,12)

24

In [333]:
dir(md)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'check',
 'mul']

In [338]:
from module import check , add , mul
print(add(12,12))
print(mul(12,12))
print(check(34))

24
144
34 is Even

In [339]:
from module import *
print(add(12,12))
print(mul(12,12))
print(check(34))

24
144
34 is Even

In [ ]:
# import module 
# import module as mp
# from module import method1 , method2 .... 
# from module import *